<% content_for :title, "Editing coin" %>

<h1> <%= t('edit.coin') %> </h1>

<%= render "form", coin: @coin %>

<br>

<div>
  <%= link_to t('crud.show'), @coin %> |
  <%= link_to t('back.coins'), coins_path %>
</div>
